<?xml version="1.0"?>
<launch>

    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find kinect2_description)/urdf/kinect2.urdf.xacro'" />

	<param name="robot_description" command="$(arg urdf_file)" />

        <param name="use_gui" value="true"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf2_static" args="0 0 0.17 0 0 0 world kinect2_rgb_optical_frame" output="screen"/>

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinect2_description)/default_config.rviz" />

</launch>
