<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<launch>
  
 

  <!--  start calibration_computing  -->
  <node pkg="calibration_computing" type="calibration_computing_node" name="calibration_computing" respawn="true" output="screen">
  </node>
 


  <!--  start rs_calibration_robotcontrol  -->
  <node pkg="rs_calibration_robotcontrol" type="control_URx.py" name="rs_calibration_robotcontrol" respawn="true" output="screen">
  </node>
  


</launch>
 
