<?xml version="1.0" ?>
<robot name="weldingrobot" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:property name="pi" value="3.1415926535897931" />

  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:ur5_robot prefix="" joint_limited="true"/>

  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />
 


 <link name="world"/>

  <joint name="world_to_robot" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0.0 0.0 0"/>
  </joint>


  <link name="table">
    <visual>
      <geometry>
        <box size="1.5 1.5 0.02"/>
      </geometry>
      <material name="Wooden">
        <color rgba="1.0 0.831 0.486 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.5 1.5 0.02"/>
      </geometry>
    </collision>

  </link>

  <joint name="base_link_to_table" type="fixed">
    <parent link="base_link"/>
    <child link="table"/>
    <origin xyz="0 0.4 -0.01" rpy="0 0 0"/>
  </joint>


  <link name="post">
    <visual>
      <geometry>
        <box size="0.05 0.05 1.5"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 1.5"/>
      </geometry>
    </collision>
  </link>
  <joint name="table_to_post" type="fixed">
    <parent link="table"/>
    <child link="post"/>
    <origin xyz="0 -0.725 0.5" rpy="0 0 0"/>
  </joint>


  <link name="bar">
    <visual>
      <geometry>
        <box size="0.6 0.05 0.05"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.6 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="post_to_bar" type="fixed">
    <parent link="post"/>
    <child link="bar"/>
    <origin xyz="0 0.33 0.7785" rpy="0 0 -1.5708"/>
  </joint>



  <sensor_d415 parent="tool0">
    <origin xyz="0.0 -0.102 0.062" rpy="0 ${-pi/2} ${pi/2}"/>   
  </sensor_d415>
<!--
   <link name="d415_cable">
    <visual>
      <geometry>
        <box size="1.5 1.5 0.02"/>
      </geometry>
      <material name="Wooden">
        <color rgba="0 0.0 0.1 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.5 1.5 0.02"/>
      </geometry>
    </collision>

  </link>

  <joint name="tool0_to_d415_cable" type="fixed">
    <parent link="tool0"/>
    <child link="d415_cable"/>
    <origin xyz="0 0.4 -0.01" rpy="0 0 0"/>
  </joint>
-->

    <!-- <link name="welding_torch">
      <visual>
        <geometry>
          <mesh filename="package://weldingscene_description/meshes/collision/torch.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      <material name="torch1">
        <color rgba="0.1 0.1 0.5 1.0"/>
      </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://weldingscene_description/meshes/collision/torch.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
 
  <joint name="torch_to_tool0" type="fixed">
    <parent link="tool0"/>
    <child link="welding_torch"/>
    <origin xyz="0 0.035 0.234" rpy="${pi/2} ${-pi/4} ${-pi/2}"/>
  </joint>  -->


    <link name="welding_torch">
      <visual>
        <geometry>
          <mesh filename="package://weldingscene_description/meshes/collision/torch.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="${pi/2} -0.84997 ${-pi/2}" xyz="0 0 0"/>
      <material name="torch1">
        <color rgba="0.1 0.1 0.5 1.0"/>
      </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://weldingscene_description/meshes/collision/torch.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="${pi/2} -0.84997 ${-pi/2}" xyz="0 0 0"/>
      </collision>
    </link>
    <joint name="torch_to_tool0" type="fixed">
      <parent link="tool0"/>
      <child link="welding_torch"/>
      <origin xyz="0 0.048 0.227" rpy="0 0 0"/>
    </joint> 

 

    <link name="torchSupport">
      <visual>
        <geometry>
          <mesh filename="package://weldingscene_description/meshes/collision/torchSupport.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      <material name="torchSupport1">
        <color rgba="0.8 0.8 0.8 1.0"/>
      </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://weldingscene_description/meshes/collision/torchSupport.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
 

  <joint name="torchSupport_to_tool0" type="fixed">
    <parent link="tool0"/>
    <child link="torchSupport"/>
    <origin xyz="0.0325 0.0475 0.115" rpy="${-pi*3/2} ${-pi*3/2} ${-pi/2}"/>
  </joint> 


 



</robot>


