<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- Here we define 2 parameters of the macro -->
  <xacro:macro name="welding_torch" params="prefix connected_to">

    <link name="welding_torch">
      <visual>
        <geometry>
          <mesh filename="package://welding_support/meshes/collision/torch.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="${pi/2} -0.84997 ${-pi/2}" xyz="0 -0.012 0.25"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://welding_support/meshes/collision/torch.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="${pi/2} -0.84997 ${-pi/2}" xyz="0 -0.012 0.25"/>
      </collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </link>

    <!-- TCP frame -->
    <joint name="tcp_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="welding_torch"/>
      <child link="tcp"/>
    </joint>
    <link name="tcp"/>

  </xacro:macro>
</robot>
