<?xml version="1.0" ?>
<robot name="weldingtable" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:property name="pi" value="3.1415926535897931" />

  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />
  <xacro:ur3_robot prefix="" joint_limited="true"/>

  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />
 

 
  <link name="world"/>

  <link name="table">
    <visual>
      <geometry>
        <box size="0.8 1.0 0.02"/>
      </geometry>
      <material name="Wooden">
        <color rgba="1.0 0.831 0.486 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.8 1.0 0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0.0 0.331 -0.0079375" rpy="0 0 0"/>
  </joint>


  <link name="bar1">
    <visual>
      <geometry>
        <box size="0.8 0.04 0.04"/>
      </geometry>
      <material name="Steel">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.8 0.04 0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="table_to_bar1" type="fixed">
    <parent link="table"/>
    <child link="bar1"/>
    <origin xyz="0 -0.45 0.03" rpy="0 0 0"/>
  </joint>

  <link name="bar2">
    <visual>
      <geometry>
        <box size="0.8 0.04 0.04"/>
      </geometry>
      <material name="Steel">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.8 0.04 0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="table_to_bar2" type="fixed">
    <parent link="table"/>
    <child link="bar2"/>
    <origin xyz="0 -0.37 0.03" rpy="0 0 0"/>
  </joint>



  <joint name="table_to_robot" type="fixed">
    <parent link="bar2"/>
    <child link="base_link"/>
    <origin xyz="0 -0.038 0.02" rpy="0.0 0.0 0"/>
   <!-- <origin xyz="-0.331 0.0 0.0079375" rpy="0.0 0.0 -1.5708"/>  -->
  </joint>




  <link name="torch_bent">
    <visual>
      <geometry>
        <box size="0.15 0.02 0.02"/>
      </geometry>
      <material name="Steel">
        <color rgba="1 0.5 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="0.15 0.02 0.02"/>
      </geometry>
    </collision>
  </link>
 

  <joint name="torch_to_tool0" type="fixed">
    <parent link="tool0"/>
    <child link="torch_bent"/>
    <origin xyz="0 -0.05 0.045" rpy="0 ${pi/2} 0"/>
  </joint>
 


  <link name="torch">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.01"/>  
      </geometry>
      <material name="Steel">
        <color rgba="1 0.5 0.5 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.02" radius="0.025"/>
      </geometry>
    </collision>
  </link>
 

  <joint name="torchbent_to_torch" type="fixed">
    <parent link="torch_bent"/>
    <child  link="torch"/>
    <origin xyz="-0.11 0.035 0" rpy="0 ${pi/2} ${-pi/4}"/>
  </joint>
 


  <link name="torch_point">
    <visual>
      <geometry>
        <cylinder length="0.01" radius="0.005"/>  
      </geometry>
      <material name="torch">
        <color rgba="1.0 0.1 0.1 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.01" radius="0.005"/>  
      </geometry>
    </collision>
  </link>
 

  <joint name="torch_to_point" type="fixed">
    <parent link="torch"/>
    <child  link="torch_point"/>
    <origin xyz="0 0 -0.05" rpy="0 ${pi/2} 0"/>
  </joint>
 
</robot>



