<?xml version="1.0" ?>
<robot name="weldingtable" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:property name="pi" value="3.1415926535897931" />

  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />
  <xacro:ur3_robot prefix="" joint_limited="true"/>

  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />
 


  <link name="bar2">
    <visual>
      <geometry>
        <box size="0.8 0.04 0.04"/>
      </geometry>
      <material name="Steel">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.8 0.04 0.04"/>
      </geometry>
    </collision>
  </link>

  <link name="world"/>
  <joint name="world_to_bar2" type="fixed">
    <parent link="world"/>
    <child link="bar2"/>
    <origin xyz="0 0.038 -0.02" rpy="0 0 0"/>
  </joint>

  <joint name="bar2_to_robot" type="fixed">
    <parent link="bar2"/>
    <child link="base_link"/>
    <origin xyz="0 -0.038 0.02" rpy="0.0 0.0 0"/>
   <!-- <origin xyz="-0.331 0.0 0.0079375" rpy="0.0 0.0 -1.5708"/>  -->
  </joint>


 <link name="bar1">
    <visual>
      <geometry>
        <box size="0.8 0.04 0.04"/>
      </geometry>
      <material name="Steel">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.8 0.04 0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="bar2_to_bar1" type="fixed">
    <parent link="bar2"/>
    <child link="bar1"/>
    <origin xyz="0 -0.08 0" rpy="0 0 0"/>
  </joint>


  <link name="table">
    <visual>
      <geometry>
        <box size="0.8 1.0 0.02"/>
      </geometry>
      <material name="Wooden">
        <color rgba="1.0 0.831 0.486 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.8 1.0 0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="bar2_to_table" type="fixed">
    <parent link="bar2"/>
    <child link="table"/>
    <origin xyz="0.0 0.35 -0.03" rpy="0 0 0"/>
  </joint>









  <sensor_d415 parent="tool0">
    <origin xyz="0 -0.11 0.065" rpy="0 ${-pi/2} ${pi/2}"/>
  </sensor_d415>


    <link name="welding_torch">
      <visual>
        <geometry>
          <mesh filename="package://welding_support/meshes/collision/torch.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="${pi/2} -0.84997 ${-pi/2}" xyz="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://welding_support/meshes/collision/torch.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="${pi/2} -0.84997 ${-pi/2}" xyz="0 -0.012 0.25"/>
      </collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </link>
 

  <joint name="torch_to_tool0" type="fixed">
    <parent link="tool0"/>
    <child link="welding_torch"/>
    <origin xyz="0 0.055 0.29" rpy="0 0 0"/>
  </joint>




</robot>



