<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="kinect2">
  <xacro:macro name="kinect2" params="prefix">


    <material name="Kinect2Grey">
      <color rgba="0.15 0.15 0.15 1.0"/>
    </material>


    <link name="${prefix}kinect2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://kinect2_description/meshes/kinect2_origin_on_rgb_optical_frame.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://kinect2_description/meshes/kinect2_origin_on_rgb_optical_frame.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark grey">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </collision>
    </link>
  </xacro:macro>
</robot>

